$sig-blue: #0092ff;
$sig-darkblue: #104C91;
$sig-orange: #ff6b00;


* {
  box-sizing: border-box;
} 

.box {
  margin: 5% auto;
  width: 50%;
  border: 2px white dashed;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  opacity: 0.9;
}

.title {
  margin: 0 auto;
  color: white;
  h1 {
    font-size: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    strong {
      font-weight: 600;      
    }
  }
}

body {
  height: 45vh;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: url('https://images.unsplash.com/photo-1522878308970-972ec5eedc0d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=675&q=80');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

button {
  width: auto;
  padding: 10px;
  border-radius: 10px;
  background-color: $sig-orange;
  color: aliceblue;
  margin: 0 auto;
  border-color: $sig-orange;
}

input {
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid $sig-orange;
}

.light-header {
  color: $sig-blue;
}
.strong-header {
  color: $sig-darkblue;
}
.newsletter-title {
  margin-top: -60px;
  font-size: 32px;
  color: grey;
}

@media only screen and (max-width: 600px) {
  .box {
    margin: 30% auto;
    width: 80%;
  }
  .title {
    h1 {
      font-size: 40px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-weight: 100;
      strong {
        font-weight: 600;      
      }
    }
  }
  .newsletter-title {
    margin-top: -40px;
    font-size: 20px;
    color: grey;
  }
}