$sig-blue: #0092ff;
$sig-darkblue: #104C91;
$sig-orange: #ff6b00;


* {
  box-sizing: border-box;
} 

main {
  // background-color: orange;
}

.box {
  margin: 30% auto;
  width: 50%;
  border: 2px white dashed;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  opacity: 0.8;
}

.title {
  margin: 0 auto;
  color: white;
  h1 {
    font-size: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    strong {
      font-weight: 600;      
    }
  }
}

body {
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: url('https://img.mailinblue.com/3070052/images/rnb/original/5f467c3188dd802ed4780934.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

button {
  width: auto;
  padding: 10px;
  border-radius: 10px;
  background-color: $sig-orange;
  color: aliceblue;
  margin: 0 auto;
}

input {
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid $sig-orange;
}

.light-header {
  color: $sig-blue;
}
.strong-header {
  color: $sig-darkblue;
}
.newsletter-title {
  margin-top: -60px;
  font-size: 32px;
  color: grey;
}